body{
  margin : 20px;
  font-family: 'Share Tech Mono';
  background-color: #FAEBD7;
  color: #36200f!important;
}
/* posts */
.body{
    min-height: 1vh!important;
}
.post .title{
  font-family: 'Silkscreen';
  font-weight: normal;
  text-align: left;
  font-size: 36pt;
}

.post p{
  font-size: 20px;
}

/* footer */
.buttons{
  align-content: center;
  text-align: center;
}

/* misc */
hr{
    border : 1px solid #36200f;
}
.whole_content{
  margin-right : auto;
  max-width : 768px;
  margin-left : auto;
}
a{
  text-decoration: none;
  background : black;
  color :  white;
  margin-right: 15px;
  padding: 5px;
  font-family: 'Silkscreen';
}

a:hover{
  font-weight: bold;
  text-shadow: 3px 3px #ff9f29;
}

.smallnotes{
  font-size: 15px!important;
  font-weight: bold;
}
